<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div style="text-align:center">
  <h1>
    Bienvenidos a   {{ title }}! Desarrollado por Te. Mauro Vizcaino - Policía Nacional
  </h1>
  <br/>
  <img width="300" alt="Avengers Logo" src="https://cdn140.picsart.com/252152832007211.png">
</div>
<br/>
<h2 style="text-align:center">Top  Heroes</h2>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> 
<router-outlet></router-outlet> 
<app-messages></app-messages> 

